@model DynamicPermissionBasedAuthorization.Models.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " User Index";
}

@section styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
}

@*@section link
    {
        @await Html.PartialAsync("link")
    }*@


@section scripts
{
    <!-- DataTables -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
    <script src="    https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

    <script>
        $(function () {
            $('#userTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/User/GetUsers",


                "columnDefs": [


                    {
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {

                            return `
                                                             <button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/User/Edit/${data}'" value='${data}'>
                                                                    <i class="fas fa-pencil-alt">
                                                                    </i>
                                                                    Edit
                                                                </button>
                                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" href="#" data-id='${data}' value='${data}'>
                                                                <i class="fas fa-trash">
                                                                </i>
                                                                Delete
                                                            </button>
                                                           <button type="submit" class="btn btn-secondary btn-sm passwordchange" href="#" data-id='${data}' value='${data}'>
                                                                <i class="fa fa-key">
                                                                </i>
                                                                Change password
                                                            </button>`;

                        }
                    }
                ]
            });
        });

        $('#userTable').on('click', '.show-bs-modal', function (event) {
            var id = $(this).data("id");
            var modal = $("#modal-default");
            modal.find('.modal-body p').text('Are you sure you want to delete this record?')
            $("#deleteId").val(id);
            modal.modal('show');
        });

        $("#deleteButton").click(function () {
            $("#deleteForm").submit();
        });

        $('#userTable').on('click', '.passwordchange', function (event) {
            var id = $(this).data("id");
            var modal = $("#modal-default2");
            // modal.find('.modal-body p').text('Are you sure you want to delete this record?')
            $("#UserId").val(id);
            modal.modal('show');
        });

        $("#PasswordChangeButton").click(function () {
            if ($("#Password").val() === "") {
                $("#PasswordText").text("please give password!").show().fadeIn(1000);
                event.preventDefault();
            }

            if ($("#OldPassword").val() === "") {
                $("#OldPasswordText").text("please give old password!").show().fadeIn(1000);
                event.preventDefault();
            }
            if ($("#confirmPassword").val() === "") {
                $("#confirmPasswordText").text("please give confirm password!").show().fadeIn(1000);
                event.preventDefault();
            }
            if ($("#Password").val() != "" && $("#OldPassword").val() != "" && $("#confirmPassword").val() != "") {
                var id = document.getElementById("UserId").value;
                var oldpassword = document.getElementById("OldPassword").value;
                var obj = {

                    id: id,
                    password: oldpassword,
                };
                $.ajax({
                    url: 'CheckPassword',
                    dataType: "json",
                    data: obj,
                    success: function (data) {
                        if (data == "0") {
                            document.getElementById("msg").innerHTML = "Your old password does not match.Please try again"

                        } else {

                            $("#PasswordChangeForm").submit();
                        }
                    },


                });

            }
            // $("#PasswordChangeForm").submit();
        });

        $("#confirmPassword").keypress(function (e) {
            $("#confirmPasswordText").hide();
        });
        $("#Password").keypress(function (e) {
            $("#PasswordText").hide();
        });
        $("#OldPassword").keypress(function (e) {
            $("#OldPasswordText").hide();
        });
    </script>
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Users</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="userTable" width="100%" class="table table-bordered table-striped">
                    <thead>
                        <tr>

                            <th>Role</th>

                            <th>User Name</th>
                            <th>Email</th>
                            
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
                <form id="deleteForm" action="/User/Delete" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteId" value="" name="id" />
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="deleteButton" class="btn btn-danger">Yes, Delete!</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-default2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Password Change</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <span id="msg" class="text-danger"></span>
                <form id="PasswordChangeForm" action="/User/PasswordChange" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="UserId" value="" name="Id" />
                    <div class="form-group">
                        <label for="password">Old Password</label>
                        <p class="text-danger" id="OldPasswordText"></p>
                        <input type="password" class="form-control" name="OldPassword" id="OldPassword" placeholder="enter old password">

                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <p class="text-danger" id="PasswordText"></p>
                        <input type="password" class="form-control" name="Password" id="Password" placeholder="enter new password">

                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <p class="text-danger" id="confirmPasswordText"></p>
                        <input type="password" class="form-control" name="ConfirmPassword" id="confirmPassword" placeholder="confirm new password">

                    </div>
                   
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="PasswordChangeButton" class="btn btn-danger">Change Password</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
